table {
	border: 1px solid #666;
	margin: 20px 0 20px 0 !important;
}

th, td {
	padding: 2px 4px 2px 4px !important;
	text-align: left;
	vertical-align: top;
}

td.centered {
        text-align: center;
}

th {
	background-color: #fc0;
}

th:hover {
	background-color: #fc7;
}

tbody tr.even {
	background-color: #fea
}

tbody tr.odd {
	background-color:  #fff
}
