<td valign="top" class="toc-column">
  <div class="toc">
    <!-- A section -->
    <div class="toc-header">Search</div>
    <div class="toc-item"><a href="{{ site.base-url }}/news.html">&nbsp;</a></div>
    <div class="toc-header">Quick Links</div>
    <div class="toc-item"><a href="{{ site.base-url }}/Community_Wiki.html">Home</a></div>
    <div class="toc-item"><a href="{{ site.base-url }}/BlackBerry_10.html">BlackBerry 10</a></div>
    <div class="toc-item"><a href="{{ site.base-url }}/Events.html">Events</a></div>
    <div class="toc-item"><a href="{{ site.base-url }}/Staying_Connected.html">Staying Connected</a></div>
    <div class="toc-item"><a href="{{ site.base-url }}/Open_Source.html">Open Source</a></div>
    <div class="toc-item"><a href="{{ site.base-url }}/All_Pages.html">All Pages</a></div>
    <!-- Another section -->
    <div class="toc-header">Other</div>
    <div class="toc-item"><a href="{{ site.base-url }}/other/Contribute.html">Contribute</a></div>
    <div class="toc-item"><a href="{{ site.base-url }}/other/Legal.html">Legal</a></div>
  </div>
</td>
