<div id="toc">
  <ul>
    <li>Search
      <ul>
	<li><a href="{{ base-url }}/news.html">&nbsp;</a></li>
      </ul>
    </li>
    <li>Page Links
      <ul>
	<li><a href="{{ base-url }}/Community_Wiki.html">Home</a></li>
	<li><a href="http://www.blackberryjamworldtour.com/">Jam World Tour</a></li>
	<li><a href="{{ base-url }}/All_Pages.html">All Pages</a></li>
	<li><a href="{{ base-url }}/articles/All_Articles.html">All Articles</a></li>
      </ul>
    </li>
    <li>Presentations
      <ul>
	<li><a href="{{ base-url }}/slides/All_Slides.html">All Presentations</a></li>
	<li><a href="http://slideshare.net/blackberry/tagged/developer">SlideShare</a></li>
	<li><a href="{{ base-url }}/YouTube.html">YouTube</a></li>
      </ul>
    </li>
    <li>News Links
      <ul>
	<li><a href="{{ base-url }}/news/index.html">All News</a></li>
	<li><a href="{{ base-url }}/news/Latest_News.html">Latest News</a></li>
	<li><a href="{{ base-url }}/news/Submit_News.html">Submit News</a></li>
      </ul>
    </li>
    <li>Contribute
      <ul>
	<li><a href="{{ base-url }}/other/Contribute.html">How to Contribute</a></li>
	<li><a href="{{ site.stage }}{{ page.url | replace:'.html','.md' }}" target="_blank">Edit this Page</a></li>
	<li><a href="https://github.com/blackberry/Community/issues?labels=&milestone=&state=open" target="_blank">Submit an Issue</a></li>
	</ul>
    </li>
    <li>Other
      <ul>
	<!-- pretty raw but useful -->
	<li><a href="https://github.com/blackberry/Community/commits/gh-pages.atom">Repo History<img src="/Community/images/16px-Feed-icon.png"/></a></li>
	<li><a href="{{ base-url }}/other/Legal.html">Legal</a></li>
      </ul>
    </li>
  </ul>
</div>
