<td valign="top" class="toc-column">
  <div class="toc">
    <!-- A section -->
    <div class="toc-header">Search</div>
    <div class="toc-item"><a href="{{ site.base-url }}/news.html">&nbsp;</a></div>
    <div class="toc-header">Quick Links</div>
    <div class="toc-item"><a href="{{ site.base-url }}/news.html">Intro</a></div>
    <div class="toc-item"><a href="{{ site.base-url }}/news.html">BB10</a></div>
    <div class="toc-item"><a href="{{ site.base-url }}/news.html">Events</a></div>
    <div class="toc-item"><a href="{{ site.base-url }}/news.html">Blogs</a></div>
    <!-- Another section -->
    <div class="toc-header">Meta</div>
    <div class="toc-item"><a href="{{ site.base-url }}/news.html">About</a></div>
    <div class="toc-item"><a href="{{ site.base-url }}/news.html">Legal</a></div>
  </div>
</td>
