{% assign base-url = site.force-prefix %}

{% capture lcol %}{% include default-navigation.html %}{% endcapture %}
{% capture rcol %}{% include default-summary.html %}{% endcapture %}

{% capture ccol %}<h1>{{ page.title }}</h1>
<h3>Description</h3>
{{ page.description | markdownify }}
<h3>Details</h3>
<strong>Status:</strong> {{ page.status }}
<br/>
<strong>Platform:</strong> {{ page.platform }}
<br/>
{% if page.complink %}
<strong>Component Site:</strong> <a href="{{ page.complink }}">{{ page.complink }}</a>
<br/>
{% endif %}
{% if page.license %}
<strong>Component License:</strong> {{ page.license }}
<br/>
{% endif %}
{% if page.tags %}
<strong>Tags:</strong> {{ page.tags }}
<br/>
{% endif %}
{% if page.contacts %}
<strong>Contacts:</strong>
{% for item in page.contacts %}
 {{ item }},
{% endfor %}
<br/>
{% endif %}
{% if page.links %}
<strong>More Links</strong>
<ul>
{% for item in page.links %}
<li><a href="{{ item }}">{{ item }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endcapture %}

{% include common-include.html %}
