{% assign base-url = site.baseurl %}

{% capture lcol %}{% include default-navigation.html %}{% endcapture %}

{% if page.oneline %}
{% capture rcol %}
<table>
  <caption>{{ page.title }}</caption>
  <tr><td colspan="2">{{ page.oneline }}</td></tr>
  {% if page.forum != null %}
  <tr><th scope="row"><a href="{{ page.forum }}">Forum</a></th><td></td></tr>
  {% endif %}
  {% if page.techlink != null %}
  <tr><th scope="row"><a href="{{ page.techlink }}">Website</a></th><td></td></tr>
  {% endif %}
  {% if page.tags %}
  <tr><th scope="row">Tags</th><td>{{ page.tags }}</td></tr>
  {% endif %}
</table>

{% endcapture %}
{% else %}
{% capture rcol %}{% endcapture %}
{% endif %}

{% capture ccol %}{% endcapture %}

{% include basic-include.html %}
